<link rel="stylesheet" href="/stylesheets/nav.css">
<nav>
    <img src="/images/logo1.png" alt="">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/registerbook">Register Book</a></li>
        <li><a href="/booklibrary">Library</a></li>

    </ul>
</nav>